<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>移动端适配计算工具</title>
<meta name="keywords" content="计算器,vw,rem,移动端适配,设计网站,sunyang"/>
<meta name="description" content="SunYang&#39;s Blog ,设计师网站">
<link rel="shortcut icon" href="https://cdn.jsdelivr.net/gh/svnyang/vw.github.io/imgaes/favicon-vm.ico" type="image/x-icon">
<link href="https://cdn.jsdelivr.net/gh/svnyang/vw.github.io/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/gh/svnyang/vw.github.io/css/all.min.css" rel="stylesheet">
<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?0cc0be3a56a8b48b842add55ea87fd6c";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>
</head>
<body >
    <div class="container" id="vm">
        <div class="row">
          
          <div class="col align-self-center">
            
            <div class="col-lg-5 m-auto">
                <div class="card tilebox-one">
                    <div class="card-header pt-4  text-center ">
                        <span>IOS & ANDROID 适配计算工具</span>
                        <p><a  href="https://svnyang.cn/" target="_blank"> Www.SunYang.Vip</a></p>
                    </div>
                    <!-- <div class="row btn-link">
                        <div class="mg-f-2">
                            <a href="https://dribbble.com/svnyang" target="_blank" class="btn btn-icon-only  " aria-label="github社交链接" data-toggle="tooltip" data-placement="top" title="" data-original-title="Open source projects">
                                <span aria-hidden="true" class="fab fa-dribbble"></span>
                            </a>
                        </div>
                        <div class="mg-f-2">
                            <a href="https://www.behance.net/15145549831d8ea" target="_blank" class="btn btn-icon-only  " aria-label="github社交链接" data-toggle="tooltip" data-placement="top" title="" data-original-title="Open source projects">
                                <span aria-hidden="true" class="fab fa-behance"></span>
                            </a>
                        </div>
                        <div class="mg-f-2">
                            <a href="https://github.com/svnyang" target="_blank" class="btn btn-icon-only  " aria-label="github社交链接" data-toggle="tooltip" data-placement="top" title="" data-original-title="Open source projects">
                                <span aria-hidden="true" class="fab fa-github"></span>
                            </a>
                        </div>
                    </div> -->
                    <div class="card-body font-color"  :class="{'has-error':vwValue=='超出范围'}">
                        <h6 class="text-muted text-uppercase mt-0"> PX</h6>
                            <input  type="text" class="form-control form-css"   placeholder="请输入元素尺寸 (px)" v-model="vw.el"> 
                        <span class="text-muted "></span>
                    </div> 
                    <div class="card-body font-color">
                        <h6 class="text-muted text-uppercase mt-0"> PX</h6>
                            <input type="text" class="form-control form-css" placeholder="请输入设计稿宽度 (px)" v-model="vw.psd">
                        <span class="text-muted text-bottom"></span>
                    </div> 
                </div> 
                <div class="card tilebox-one">
                    <div class="card-body" :class="{'has-error':vwValue=='超出范围'}">
                    <i class="dripicons-basket float-right text-muted"> 
                        <button type="button" class="btn btn-success btn-block" v-if="vw.isCopy">Copied!</button>
                        <button type="button" class="btn btn-primary btn-block" @click="copyVwValue" v-else>Copy</button>
                    </i>
                    <h2 class="m-b-20"><input type="text" class="form-control font-w" placeholder="Vw" :value="vwValue" readonly ref="vwVal"></h2>
                    <span class="text-muted">计算结果</span>
                    </div> 
                </div> 
    
                <div class="card tilebox-one">
                    <div class="card-body" :class="{'has-error':remValue=='超出范围'}">
                    <i class="dripicons-basket float-right text-muted"> 
                        <button type="button" class="btn btn-success btn-block" v-if="rem.isCopy">Copied!</button>
                        <button type="button" class="btn btn-primary btn-block" @click="copyRemValue" v-else>Copy</button>
                    </i>
                    <h2 class="m-b-20"> <input type="text" class="form-control font-w" placeholder="rem" :value="remValue" readonly ref="remVal"></h2>
                    <span class="text-muted">计算结果</span>
                    </div> 
                </div> 
            </div>

          </div>
          
        </div>
      </div>
<footer class="footer footer-alt p-5">© 2019-2021 ⋅ Sun Yang  ⋅ <a href="https://loading.sunyang.vip">loading.sunyang.vip</a></footer>
<script src="https://www.jq22.com/jquery/vue.min.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#vm',
        data: {
            vw:{
                el:"",
                psd:"",
                isCopy:false
            },
            rem:{
                el:"",
                psd:"",
                isCopy:false
            }
        },
        computed:{
            vwValue:function () {
                if(!this.vw.el || !this.vw.psd){
                    return "";
                }else {
                    this.vw.isCopy=false;
                    return (this.vw.el/this.vw.psd*100).toString().match(/^\d+(?:\.\d{0,5})?/)+'vw';
                }

            },
            remValue:function () {
                if(!this.vw.el || !this.vw.psd){
                    return "";
                }else {
                    this.rem.isCopy=false;
                    return (this.vw.el/100).toString().match(/^\d+(?:\.\d{0,5})?/)+'rem';
                }

            }
        },
        methods: {
            copyVwValue:function(){
                this.$refs.vwVal.select();
                document.execCommand("Copy");
                this.vw.isCopy=true;
            },
            copyRemValue:function(){
                this.$refs.remVal.select();
                document.execCommand("Copy");
                this.rem.isCopy=true;
            }
        }
    })

  
</script>
</body>
</html>